<br>
<label title="ID">ID: </label>
<input type="text" [(ngModel)]="nstd._id" name="id" #uid="ngModel" required>
<span *ngIf="uid.invalid">*</span><br><br>
<label title="NAME">NAME: </label>
<input type="text" [(ngModel)]="nstd.name" name="name" #uname="ngModel" required
minlength="3 ">
<span *ngIf="uname.errors?.['required']&&uname.touched">name is required </span>
<span *ngIf="uname.errors?.['minlength']&&uname.touched">min name is 3</span><br><br>
<label title="GRADE">GRADE: </label>
<select [(ngModel)]="nstd.grade" name="grade" #ugrade="ngModel" required>
    <option>Excellent</option>
    <option>Very good</option>
    <option>good</option>
</select><br>
<span *ngIf="ugrade.errors?.['required']&&ugrade.touched">grade required </span><br>
<button (click)="save()">Save</button>